<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Click the relavant report name to generate in any format</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Report" asp-action="AuctionData">Auction Report</a>
        <a class="btn btn-outline-success" asp-controller="Report" asp-action="PlayerData">Player Detail Report</a>
    </div>
</div>