@model Auction
@using eTickets.Data;
@using esport.Models
 
@{
    ViewData["Title"] = "Register for auction";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Register For Auction</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TrophyId" class="control-label"></label>
                                <select asp-for="TrophyId" class="form-control" asp-items="ViewBag.Trophies"></select>
                                <span asp-validation-for="TrophyId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="ImageUrlPreview" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>